doctype html
html
  head
    meta(http-equiv='content-type' content='text/html; charset=windows-1252')
    title Gifting App
    style(type='text/css').
      body{font-family: Helvetica,sans-Serif;color: #77798c;font-size: 14px;}
  body
    table(style='padding: 0' width='100%' cellspacing='0' cellpadding='0')
      tbody
        tr
          td
            table(style='margin: 0px auto 0px; text-align: center; box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); border-radius: 4px;background-color:#fff; padding: 20px' width='500px' cellspacing='0' cellpadding='0')
              tbody
                tr
                  td
                    img.img-responsive(src='#{user.logo_url}' width='150px;')
                tr
                  td
                    table(style='margin: 10px auto; text-align: center; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1); background-color: #fff; border-radius: 4px' width='100%' cellspacing='0' cellpadding='0')
                      tbody
                        tr
                          td(style='padding-bottom: 30px')
                            h1(style='font-weight:normal;margin:20px 0 0;color:#664b13') Boneda password reset.
                        tr
                          td
                            table(align='center' border='0' cellpadding='0' cellspacing='0' width='100%' style='color:#333333;padding-bottom:25px;font-size:14px')
                              tbody
                                tr
                                  td(style='text-align: left; padding-left: 24px')
                                    h3 Hi #{user.name}
                                tr
                                  td(style='text-align: left; padding-left: 24px')
                                    h4(style='width: 350px;') Your password has been resetted by our Boneda Team.
                                tr
                                  td(style='text-align: left; padding-left: 24px')
                                    h3 Here is your login information:
                                tr
                                  td(style='font-weight:bold;padding-left:24px;padding-top:15px;width:50%;text-align:left') Username: #{user.email}
                                tr
                                  td(style='font-weight:bold;padding-left:24px;padding-top:15px;width:50%;text-align:left') Password: #{user.password}
                                tr
                                  td(style='text-align: left;padding-top:15px; padding-left: 24px')
                                    h4 Please feel free to reach out if you have any other inquiries!
                                tr
                                  td(style='text-align: left; padding-left: 24px')
                                    | Thanks
                                tr
                                  td(style='text-align: left; padding-left: 24px')
                                    | Boneda Team
                        tr
                          td
                            p(style='line-height:30px;') Copyright © 2021 T. All rights reserved. 
